* {
    box-sizing: border-box;
}

.nowrap {
  white-space: nowrap;
}

.stretch {
    display: block;
    width: 100%;
}

.mt0 {
    margin-top: 0;
}

.mt1 {
  margin-top: 1em;
}

.mb0 {
    margin-bottom: 0;
}

.border-round {
  border-radius: 5px;
}



.p1 {
  padding: 0.5em;
}

.plr1 {
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.fs12 {
  font-size: 12px;
}

.fs10 {
  font-size: 10px;
}

.bold {
  font-weight: bold;
}

/* copied */
.s5ths,
.m5ths,
.l5ths,
.xl5ths {
  margin-left: auto;
  left: auto;
  right: auto;
}

.row .col.s5ths {
  width: 20%;
}

@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 993px) {
  .row .col.l5ths {
    width: 20%;
  }
}

@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: 20%;
  }
}